# This config file for Travis CI
sudo: required

language: generic

services:
  - docker

git:
  quiet: true
  submodules: true

notifications:
  email:
    on_success: never
    on_failure: never

env:
  global:
    - CCACHE_DIR=$HOME/.ccache
    - UPSTREAM_WORKSPACE=file
    - ROSINSTALL_FILENAME=crs.rosinstall
    - ROS_REPO=ros
    - CMAKE_ARGS="-DCMAKE_BUILD_TYPE=Debug"
    # Rosdep does not currently handle pure cmake packages correctly in ROS2 with extended workspaces (like the UPSTREAM_WORKSPACE). Therefore we have to add them here
    - ROSDEP_SKIP_KEYS="catkin ompl message_runtime message_generation dynamic_reconfigure roscpp roslib eigen_conversions scxml_core tesseract tesseract_kinematics tesseract_visualization trajopt trajopt_utils trajopt_sco descartes_light descartes_ikfast descartes_samplers ur_ikfast_kinematics"

jobs:
  include:
    - os: linux
      dist: bionic
      language: cpp
      env:
      - ROS_DISTRO="dashing"
      - CLANG_FORMAT_CHECK=file
      - CLANG_FORMAT_VERSION=8
      - AFTER_SCRIPT=""
      - BADGE=clang-format
      cache:
        directories:
          - $HOME/.ccache

    - os: linux
      dist: bionic
      language: cpp
      env:
      - DOCKER_IMAGE=mpowelson/bionic-qt-ros:eloquent
      - ROS_DISTRO="eloquent"
      - NOT_TEST_BUILD=true
      - ADDITIONAL_DEBS="libompl-dev"
      - BEFORE_INIT="apt-key adv --keyserver 'hkp://keyserver.ubuntu.com:80' --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654"
      - BADGE=eloquent
      cache:
        directories:
          - $HOME/.ccache

# Changed from master to fix https://github.com/ros-industrial/industrial_ci/issues/475
install:
  - git clone --quiet --depth 1 https://github.com/ipa-mdl/industrial_ci.git .industrial_ci -b revert-revert-colcon-chain

script:
  - .industrial_ci/travis.sh
